site_name: DS Mini Conference Sept 2025 FDP Workshop
theme:
  name: mkdocs

nav:
  - Home: index.md

extra_css:
  - extra.css

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true

# Optional: Add any additional configuration options here.